<h1>My courses</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Des</th>

        </tr>
    </thead>
    <tbody>
        {{#each re}}
        <tr>
            <td scope="col">{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>
                <form action="/courses/{{this._id}}/restore?_method=PATCH" method="POST"> 
                    <button type="submit">Restore</button>
                </form>

                <form action="/courses/{{this._id}}/force?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
                
            </td>
        </tr>
    
        {{/each}}
    </tbody>
</table>



